<div>
        <h2 class=" reg "><strong> Register</strong></h2>

    <form class="container middle ">
        <div class="col-sm-12 custom">
            <div style="margin-bottom: 15px" class="input-group col-sm-offset-2 col-sm-3">
                <input id="userId" type="text" class="form-control" name="userId" value="" placeholder="First Name" ng-model="userCredent.userId">
            </div>
            <div style="margin-bottom: 15px" class="input-group  col-sm-offset-1 col-sm-3">
                <input id="userId" type="text" class="form-control" name="userId" value="" placeholder="Last Name" ng-model="userCredent.userId">
            </div>

        </div>
        <div class="col-sm-12 custom">
            <div style="margin-bottom: 15px" class="input-group col-sm-offset-2 col-sm-3">
                <input id="email" type="email" class="form-control" name="email" value="" placeholder="Email" ng-model="userCredent.userId">
            </div>
            <div style="margin-bottom: 15px" class="input-group  col-sm-offset-1 col-sm-3">
                <input id="Password" type="password" class="form-control" name="password" value="" placeholder="Password" ng-model="userCredent.userId">
            </div>

        </div>
        <!--<div style="margin-bottom: 15px" class="input-group">-->
            <!--<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>-->
            <!--<input id="loginPassword" type="password" class="form-control" name="password" placeholder="Password" ng-model="userCredent.password">-->
        <!--</div>-->
        <!--<div style="margin-top:10px" class="form-group col-sm-12 text-right">-->
            <!--<div class="col-sm-12">-->
                <!--<a id="forgotPwd" href="javascript:;" class="btn btn-link">Forgot password</a>-->
                <!--<a id="btnCancel" href="javascript:;" class="btn btn-success" data-dismiss="modal">Cancel  </a> &nbsp &nbsp-->
                <!--<a id="btnLogin" ng-click="loginSubmitHandler()" class="btn btn-success">Login  </a>-->
            <!--</div>-->
        <!--</div>-->
    </form>
</div>