<div class="header">
    <span class="title"><strong>DesiInfoGuru</strong></span>
    <div class="inner-addon right-addon box">
        <span class="icon"><i class="fa fa-search"></i></span>
        <input type="search" class="search rounded" placeholder="Search..."/>
    </div>
    <div class="login" ng-controller="popCtrl">
        <a href="#signUp" class="head"><strong>Login</strong></a> &nbsp &nbsp
        <a href="#register" class="head"><strong>Register</strong></a>&nbsp &nbsp &nbsp &nbsp &nbsp
        <i class="fa fa-map-marker"></i>
        <a href="" class="head" my-pop data-placement="bottom"><strong>Select City</strong></a>
    </div>
</div>