<div id="headerNav">
    <nav id="navBarMain" class="navbar navbar-default">
        <div class="container">
            <div id="bs-example-navbar-collapse">
                <ul class="nav navbar-nav" id="nav" auto-active>
                    <li ><a href="#home" tabindex="0">Home</a></li>
                    <li ><a href="" tabindex="0">Movies</a></li>
                    <li ><a href="" tabindex="0">Events</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>